* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}
/*#region Header CSS */
header {
  width: 100%;
  height: 10vh;
}
.general-container {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}
.left-part {
  display: flex;
}
.left-part i {
  color: #f53838;

  font-size: 28px;
}
.left-part p {
  margin-left: 10px;
  size: 30px;
  font-weight: bold;
  color: #0b132a;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  margin-left: 40px;
  color: #4f5665;
  font-size: 16px;
  transition: all 0.3s;
}
.right-part a {
  text-decoration: none;
  color: #0b132a;
  text-decoration: none;
  size: 16px;
  margin-right: 10px;
}
.right-part input {
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #f53855;
  border-radius: 50px;
  background-color: transparent;
  color: #f53855;
}
/*#endregion*/
/*#region Main CSS */
main {
  margin-top: 30px;
}
.container {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
}
.content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-section p:first-child {
  color: #0b132a;
  font-size: 50px;
  font-weight: 600;
  width: 530px;
}
.content-section p:nth-child(2) {
  size: 16px;
  width: 500px;
}
.content-section input {
  box-sizing: border-box;
  border: 1px solid #f53838;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #f53838;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 10px 2px #f5383859;
}
img {
  width: 300px;
  height: 241px;
}
.section-1 {
  height: 20vh;
  background-color: #fff;
  display: flex;

  justify-content: space-around;
  width: 1140px;
  margin-left: 170px;
  border-radius: 10px;
  margin-top: 40px;
}
.box {
  padding: 20px;
  display: flex;
  align-items: center;
}
.box i {
  font-size: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid #ffecec;
  padding: 12px;
  border-radius: 50px;
  background-color: #ffecec;
  color: #f53838;
}
.sec-content p:first-child {
  color: #0b132a;
  font-size: 25px;
  font-weight: 600;
}
.section-2 {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  margin-top: 40px;
}
.left-part-img img {
  width: 508.12px;
  height: 414.71px;
}
.right-part-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.right-part-content div {
  display: flex;
}
.right-part-content h1 {
  width: 310px;
  margin-top: 30px;
  color: #0b132a;
}
.right-part-content div i {
  width: 20px;
  height: 20px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #2fab73;
  text-align: center;
  color: #fff;
  background-color: #2fab73;
  border-radius: 10px;
  font-size: 15px;
}
.right-part-content > p {
  width: 340px;
  font-size: 17px;
}
.right-part-content div p {
  margin-left: 10px;
}
/*#endregion*/

footer {
  box-sizing: border-box;
  border: 1px solid #ddd;
  width: 100%;
  height: 100vh;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.title p {
  width: 510px;
  text-align: center;
}
.box-container div img {
  width: 144.9px;
  height: 165.37px;
}
.box-1,
.box-2,
.box-3 {
  width: 250px;
  height: 600px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: space-around;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}
.box-container input {
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #f53855;
  border-radius: 50px;
  background-color: transparent;
  color: #f53855;
}
.box-container p {
  color: #4f5665;
  font-size: 14px;
}
.box-container img {
  margin-top: 40px;
}

h3 {
  margin-top: 80px;
}
.box-content i {
  color: #2fab73;
  font-size: 20px;
  margin-right: 10px;
}
.box-3 {
  border: 2px solid #f53838;
}
.box-3 input {
  background-color: #f53838;
  color: #fff;
}
